<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Password Generator</h1>

        <div class="password-output">
            <input type="text" id="generated-password" readonly>
            <button id="copy-button" onclick="copyPassword()">
                <ion-icon name="copy" class = "copy-icon"></ion-icon>
            </button>
        </div>

        <div class="password-strength">
            <label>Password Strength:</label>
            <p id="password-strength-value"></p>
            
            <label>Feedback:</label>
            <p id="feedback"></p>
            
            <label>Crack Time (seconds):</label>
            <p id="crack-time-seconds"></p>
            
            <label>Crack Time (display):</label>
            <p id="crack-time-display"></p>
        </div>
        

        <form id="password-form">
            <div class="form-group">
                <label for="keyword">Keyword (Optional):</label>
                <input type="text" id="keyword" name="keyword">
            </div>

            <div class="form-group include-options">
                <label>Include:</label>
                <div class="include-option">
                    <input type="checkbox" id="include-upper" name="include-upper">
                    <label for="include-upper">Uppercase</label>
                </div>
                <div class="include-option">
                    <input type="checkbox" id="include-lower" name="include-lower">
                    <label for="include-lower">Lowercase</label>
                </div>
                <div class="include-option">
                    <input type="checkbox" id="include-special" name="include-special">
                    <label for="include-special">Special Characters</label>
                </div>
                <div class="include-option">
                    <input type="checkbox" id="include-numbers" name="include-numbers">
                    <label for="include-numbers">Digits</label>
                </div>
            </div>

            <div class="form-group">
                <label for="length">Password Length:</label>
                <input type="number" id="length" name="length" min="1">
                <span id="length-error" class="error-message"></span>
            </div>

            <div class="form-group">
                <label for="exclude-char">Exclude Characters:</label>
                <input type="text" id="exclude-char" name="exclude-char">
            </div>

            <button type="button" class="generate-button" onclick="generatePassword()">Generate</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
